name: Spring Boot CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean "-DskipTests" package

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DevOpsBackend
          path: target/*.jar

  test:
    runs-on: ubuntu-latest
    needs: build  # Зависимость от задачи build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: target

      - name: Run Tests
        run: mvn test